{% load staticfiles %}
<div class="content clearfix">

        {#今日肉类#}
        <div id="meals-of-the-day">
                        <h3 class="title-separator"><span class="title">今日肉类</span><span class="sep"></span></h3>
                        <ul>
                            <li class="meal">
                                <div class="img-holder"><img src="{% static 'my_users/images/meal-1.png' %}" alt=""></div>
                                <div class="desc-holder">
                                    <h1><a href="#">蒜蓉酱烤排骨</a></h1>
                                    <p>一道夏天，就特别受不了厨房的油烟味道，总觉得油腻腻的，有的时候因为烧饭弄得一身汗，做好也就不想吃了呢。今天呢，就特地做了一道不需要长时间呆厨房，也能吃到的美味，即蒜蓉酱烤排骨。排骨提前一天腌制，第二天放入烤箱烹饪，既简单又美味可口，不信你可以来试试看。</p>
                                    <span class="price">20.00元</span>
                                    <a href="#" class="add-to-cart-button">加入购物车</a>
                                </div>
                            </li>
                            <li class="meal">
                                <div class="img-holder"><img src="{% static 'my_users/images/meal-2.png' %}" alt=""></div>
                    <div class="desc-holder">
                                    <h1><a href="#">菲力牛排</a></h1>
                                    <p>牛里脊（TENDERLOIN)，取自于牛的里肌肉（即腰内肉），运动量少，且肉质最嫩精瘦，油脂少，因每头牛就一小条而显得「物稀为贵」。口感好但没有嚼头，并且烹煮过头就显得老涩，因此多推荐给牙口不好，消化较弱的老人家或小朋友食用。</p>
                                    <span class="price">80.00元</span>
                                    <a href="#" class="add-to-cart-button">加入购物车</a>
                                </div>
                            </li>
                            <li class="meal">
                                <div class="img-holder"><img src="{% static 'my_users/images/meal-3.png' %}" alt=""></div>
                    <div class="desc-holder">
                                    <h1><a href="#">酱炒洋葱鸡腿肉</a></h1>
                                    <p>将去骨鸡腿肉煎到两面都金黄,里面不熟没关系,因为等下还要用酱汁去炒~,煎好的鸡腿肉切块好,盛盘备用,将煎好鸡腿肉的余油再来炒蒜末和洋葱,将洋葱炒到香气出来,再把鸡肉放入锅里并加1大匙酱油和1小匙味醂炒,待汤汁收的差不多后,就可以盛盘了!是不是很像尝一尝呢</p>
                                    <span class="price">30.00元</span>
                                    <a href="#" class="add-to-cart-button">加入购物车</a>
                                </div>
                            </li>
                            <li class="meal">
                                <div class="img-holder"><img src="{% static 'my_users/images/meal-1.png' %}" alt=""></div>
                    <div class="desc-holder">
                                    <h1><a href="#">蒜蓉酱烤排骨</a></h1>
                                    <p>一道夏天，就特别受不了厨房的油烟味道，总觉得油腻腻的，有的时候因为烧饭弄得一身汗，做好也就不想吃了呢。今天呢，就特地做了一道不需要长时间呆厨房，也能吃到的美味，即蒜蓉酱烤排骨。排骨提前一天腌制，第二天放入烤箱烹饪，既简单又美味可口，不信你可以来试试看。</p>
                                    <span class="price">20.00元</span>
                                    <a href="#" class="add-to-cart-button">加入购物车</a>
                                </div>
                            </li>
                            <li class="meal">
                                <div class="img-holder"><img src="{% static 'my_users/images/meal-2.png' %}" alt=""></div>
                    <div class="desc-holder">
                                    <h1><a href="#">菲力牛排</a></h1>
                                    <p>牛里脊（TENDERLOIN)，取自于牛的里肌肉（即腰内肉），运动量少，且肉质最嫩精瘦，油脂少，因每头牛就一小条而显得「物稀为贵」。口感好但没有嚼头，并且烹煮过头就显得老涩，因此多推荐给牙口不好，消化较弱的老人家或小朋友食用。</p>
                                    <span class="price">80.00元</span>
                                    <a href="#" class="add-to-cart-button">加入购物车</a>
                                </div>
                            </li>
                            <li class="meal">
                                <div class="img-holder"><img src="{% static 'my_users/images/meal-3.png' %}" alt=""></div>
                    <div class="desc-holder">
                                    <h1><a href="#">酱炒洋葱鸡腿肉</a></h1>
                                    <p>将去骨鸡腿肉煎到两面都金黄,里面不熟没关系,因为等下还要用酱汁去炒~,煎好的鸡腿肉切块好,盛盘备用,将煎好鸡腿肉的余油再来炒蒜末和洋葱,将洋葱炒到香气出来,再把鸡肉放入锅里并加1大匙酱油和1小匙味醂炒,待汤汁收的差不多后,就可以盛盘了!是不是很像尝一尝呢</p>
                                    <span class="price">30.00元</span>
                                    <a href="#" class="add-to-cart-button">加入购物车</a>
                                </div>
                            </li>
                        </ul>
                    </div>

        <h3 class="title-separator"><span class="title">特色菜</span><span class="sep"></span></h3>
        {#特色菜#}
        <div id="featured-meals">
            <ul>
                <li class="meal">
                    <div class="img-holder"><img src="{% static 'my_users/images/meal-4.jpg' %}" alt=""></div>
                    <h1><a href="#">鲍汁杏鲍菇</a></h1>
                    <p>西兰花切成小朵，杏鲍菇清洗干净切圆片将玉米淀粉与2汤勺清水混合成水淀粉碗中加入鲍鱼汁，再加入适量生抽，最后加入半碗清水，兑成调味料锅中烧水，水开后放入杏鲍菇，烫1~2分钟左右...</p>
                    <span class="price">25.00元</span>
                    <a href="#" class="add-to-cart-button">加入购物车</a>
                </li>
                <li class="meal">
                    <div class="img-holder"><img src="{% static 'my_users/images/meal-5.jpg' %}" alt=""></div>
                    <h1><a href="#">三色蒸蛋</a></h1>
                    <p>皮蛋，灰包蛋，咸蛋黄切粒备用，鸡蛋蛋清蛋黄分开，姜磨泥滤汁。准备好一个不沾的容器，刷一层油。盐，姜汁分两份分别加进蛋黄蛋清中搅拌均匀...</p>
                    <span class="price">16.00元</span>
                    <a href="#" class="add-to-cart-button">加入购物车</a>
                </li>
                <li class="meal">
                    <div class="img-holder"><img src="{% static 'my_users/images/meal-6.jpg' %}" alt=""></div>
                    <h1><a href="#">香菇酿豆腐</a></h1>
                    <p>将豆腐切成四方小块，中间挖空；将洗净泡软的香菇剁碎，榨菜剁碎，加入调味料及淀粉拌匀即为馅料；将馅料酿入豆腐中心，摆在碟上蒸熟，淋上酱油、香油即可食用。</p>
                    <span class="price">25.00元</span>
                    <a href="#" class="add-to-cart-button">加入购物车</a>
                </li>
            </ul>
        </div>

        {#购物车#}
        <div class="cart-box">
            <div class="top">购物车</div>
            <div class="body">
                <ul>
                    <li class="info">
                        <span class="products"><strong>5</strong> 菜品</span>
                        <a href="#">查看购物车</a>
                    </li>
                    <li class="price">
                        <span class="label">运费</span>
                        <span class="value">0.00元</span>
                    </li>
                    <li class="price">
                        <span class="label">总计</span>
                        <span class="value">0.00元</span>
                    </li>
                </ul>
                <a class="submit-button" href="#">结算</a>
                <div class="graphic"></div>
            </div>
        </div>

    </div>