{% load user_tags %}
<!doctype html>
<html>
{% load staticfiles %}
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Cooker</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="{% static 'my_users/css/style.css' %}">
{#  <link rel="stylesheet" href="../css/jcarousel.css">#}

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="{% static 'my_users/js/libs/modernizr-1.7.min.js' %}"></script>

</head>

<body class="home">

<!-- LOGIN POP UPS -->
<div id="popup-overlay"></div>
<div class="popup" id="popup-login">
{% block login %}
<h2>登录</h2>
<hr class="separator">
<form method="post" action="{% url 'login' %}" class="form clearfix">
    <fieldset>
        <label for="login-username">用户名:</label>
        <input type="text" name="username" id="login-username" class="input text {% if login_form.errors.username or msg %}error{% endif %}" value="{% error_msg login_form.errors.username %}{{ msg }}">
        <label for="login-password">密码:</label>
        <input {% if not login_form.errors.password %}type="password"{% endif %} name="password" id="login-password" class="input text {% if login_form.errors.username %}error{% endif %}" value="{% error_msg login_form.errors.password %}">
    </fieldset>
    <button class="button submit"> 登录 </button>
    {% csrf_token %}
</form>
<hr class="separator">
{#	<button class="button submit"> 登录 </button>#}
<div class="links"><a href="#"> 忘记密码 </a> | <a href="#" class="register-btn"> 注册 </a></div>
<a class="close" href="#"></a>
{% endblock %}
</div>
<div class="popup" id="popup-register">
{% block register %}
{% endblock %}
</div>
<!-- END LOGIN POP UPS -->
  <div class='wrapper '>
    <header>
      <div class="top-nav">
        <nav>
          <ul>
            <li><a href="#" id="login-btn">登录</a></li>
            <li><a href="{% url 'register' %}" class="register-btn">注册</a></li>
            <li><a href="about.html">about</a></li>
            <li><a href="contact.html">contact</a></li>
            <li><a href="{% url 'menu' %}">菜单</a></li>
          </ul>
        </nav>
        
        <form class="search-form" method="post">
          <input type="text" class="search">
          <input type="submit" class="search-submit" value="">
        </form>
  
      </div>
      <a href="index.html" class="logo"><img src="{% static 'my_users/images/logo.png' %}" alt="your logo" /></a>
			<nav class="main-menu">
				<ul>
					<li><a href="listing.html">Fruits and vegetables</a></li>
					<li><a href="listing.html">Seafood</a></li>
					<li><a href="listing.html">Meat</a></li>
					<li><a href="listing.html">Entrees</a></li>
					<li><a href="listing.html">Pizza and pasta</a></li>
					<li><a href="listing.html">Desserts</a></li>
					<li id="lava-elm"></li>
				</ul>
			</nav>
      <div class="header-slider-canvas">
				<div class="parts part-1"></div>
				<div class="parts part-2"></div>
				<div class="parts part-3"></div>
			</div>
	  		
	   <ul id="mycarousel" class="jcarousel-skin-header-slider">
		<li><img src="{% static 'my_users/images/toystory.jpg' %}" width="680px" height="464" alt="" /><div class="description"><span class='
price '>$24.00</span><span class='
name '>Lamb chops and asparagus</span><a href="#" class="shop">shop now</a></div></li>
		<li><img src="{% static 'my_users/images/up.jpg' %}" width="680px" height="464" alt="" /><div class="description"><span class='
price '>$39.00</span><span class='
name '>Lamb chops and asparagus</span><a href="#" class="shop">shop now</a></div></li>
		<li><img src="{% static 'my_users/images/walle.jpg' %}" width="680px" height="464" alt="" /></li>
		<li><img src="{% static 'my_users/images/nemo.jpg' %}" width="680px" height="464" alt="" /></li>
	  </ul>
    </header><div class="copyrights">Collect from <a href="http://www.mycodes.net/"  title="网站模板">网站模板</a></div>
<div class="content clearfix">
<div id="meals-of-the-day">
				<h3 class="title-separator"><span class="title">Meals of the day</span><span class="sep"></span></h3>
				<ul>
					<li class="meal">
						<div class="img-holder"><img src="{% static 'my_users/images/meal-1.png' %}" alt=""></div>
            <div class="desc-holder">
							<h1><a href="#">Lorem ipsum dolar sit amet consectetur</a></h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac massa mauris, vitae viverra mauris. Proin libero purus, feugiat rhoncus auctor ut, tempus dictum nunc.</p>
							<span class="price">$15.45</span>
							<a href="#" class="add-to-cart-button">add to cart</a>
						</div>
					</li>
					<li class="meal">
						<div class="img-holder"><img src="{% static 'my_users/images/meal-2.png' %}" alt=""></div>
            <div class="desc-holder">
							<h1><a href="#">Lorem ipsum dolar sit amet consectetur</a></h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac massa mauris, vitae viverra mauris. Proin libero purus, feugiat rhoncus auctor ut, tempus dictum nunc.</p>
							<span class="price">$15.45</span>
							<a href="#" class="add-to-cart-button">add to cart</a>
						</div>
					</li>
					<li class="meal">
						<div class="img-holder"><img src="{% static 'my_users/images/meal-3.png' %}" alt=""></div>
            <div class="desc-holder">
							<h1><a href="#">Lorem ipsum dolar sit amet consectetur</a></h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac massa mauris, vitae viverra mauris. Proin libero purus, feugiat rhoncus auctor ut, tempus dictum nunc.</p>
							<span class="price">$15.45</span>
							<a href="#" class="add-to-cart-button">add to cart</a>
						</div>
					</li>
					<li class="meal">
						<div class="img-holder"><img src="{% static 'my_users/images/meal-1.png' %}" alt=""></div>
            <div class="desc-holder">
							<h1><a href="#">Lorem ipsum dolar sit amet consectetur</a></h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac massa mauris, vitae viverra mauris. Proin libero purus, feugiat rhoncus auctor ut, tempus dictum nunc.</p>
							<span class="price">$15.45</span>
							<a href="#" class="add-to-cart-button">add to cart</a>
						</div>
					</li>
					<li class="meal">
						<div class="img-holder"><img src="{% static 'my_users/images/meal-2.png' %}" alt=""></div>
            <div class="desc-holder">
							<h1><a href="#">Lorem ipsum dolar sit amet consectetur</a></h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac massa mauris, vitae viverra mauris. Proin libero purus, feugiat rhoncus auctor ut, tempus dictum nunc.</p>
							<span class="price">$15.45</span>
							<a href="#" class="add-to-cart-button">add to cart</a>
						</div>
					</li>
					<li class="meal">
						<div class="img-holder"><img src="{% static 'my_users/images/meal-3.png' %}" alt=""></div>
            <div class="desc-holder">
							<h1><a href="#">Lorem ipsum dolar sit amet consectetur</a></h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac massa mauris, vitae viverra mauris. Proin libero purus, feugiat rhoncus auctor ut, tempus dictum nunc.</p>
							<span class="price">$15.45</span>
							<a href="#" class="add-to-cart-button">add to cart</a>
						</div>
					</li>
				</ul>
			</div>
			<h3 class="title-separator"><span class="title">Featured meals</span><span class="sep"></span></h3>
			
			
			<div id="featured-meals">
				<ul>
					<li class="meal">
						<div class="img-holder"><img src="{% static 'my_users/images/meal-4.jpg' %}" alt=""></div>
						<h1><a href="#">Lorem ipsum</a></h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						<span class="price">$15.45</span>
						<a href="#" class="add-to-cart-button">add to cart</a>
					</li>
					<li class="meal">
						<div class="img-holder"><img src="{% static 'my_users/images/meal-5.jpg' %}" alt=""></div>
						<h1><a href="#">Lorem ipsum</a></h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
						<span class="price">$15.45</span>
						<a href="#" class="add-to-cart-button">add to cart</a>
					</li>
					<li class="meal">
						<div class="img-holder"><img src="{% static 'my_users/images/meal-6.jpg' %}" alt=""></div>
						<h1><a href="#">Lorem ipsum</a></h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						<span class="price">$15.45</span>
						<a href="#" class="add-to-cart-button">add to cart</a>
					</li>
				</ul>
			</div>

			<div class="cart-box">
				<div class="top">Cart</div>
				<div class="body">
					<ul>
						<li class="info">
							<span class="products"><strong>5</strong> products</span>
							<a href="#">View cart</a>
						</li>
						<li class="price">
							<span class="label">Shipping</span>
							<span class="value">$0.00</span>
						</li>
						<li class="price">
							<span class="label">Total</span>
							<span class="value">$0.00</span>
						</li>
					</ul>
					<a class="submit-button" href="#">Check out</a>
					<div class="graphic"></div>
				</div>
			</div>
  </div>
</div>
		<footer>
			<div class="footer-holder">
				<a href="" class="logo">Cooker Logo</a>
						<div class="newsletter">
							<div class="quote">
								<h6>Newsletter</h6>
								<p>Sign-up for our newsletter and be always aware of the new offers and services:</p>
								<form method="post">
									<input type="text"><input type="submit" value="Submit" class="submit-button">
								</form>
							</div>
						</div>
						<div class="links first">
							<h6>follow us on...</h6>
							<ul>
								<li class="facebook"><a href="#">Facebook</a></li>
								<li class="twitter"><a href="#">Twitter</a></li>
								<li class="rss"><a href="#">Rss feed</a></li>
							</ul>
						</div>
						<div class="links">
							<h6>useful links</h6>
							<ul>
								<li><a href="#">Specials</a></li>
								<li><a href="#">New orders</a></li>
								<li><a href="#">Terms and conditions of use</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Sitemap</a></li>
							</ul>
						</div>
						<div class="links">
							<h6>categories</h6>
							<ul>
								<li><a href="#">Fruits and vegetables</a></li>
								<li><a href="#">Seafood</a></li>
								<li><a href="#">Meat</a></li>
								<li><a href="#">Entrees</a></li>
								<li><a href="#">Pizza and pasta</a></li>
								<li><a href="#">Desserts</a></li>
							</ul>
						</div>
						<div class="credits clearfix">
							&copy; Copyright &copy; 2013.Company name All rights reserved. More Templates <a href="http://www.mycodes.net/" target="_blank" title="源码之家">源码之家</a>
						</div>
			</div>
    </footer>
</body>

	
	<script type="text/javascript" src="{% static 'my_users/js/libs/jquery-1.7.1.min.js' %}"></script>
  <script src="{% static 'my_users/js/libs/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'my_users/js/script.js' %}"></script>
  <script src="{% static 'my_users/js/libs/jquery.jcarousel.min.js' %}"></script>

<script>
    $("#login-btn").{{ login_btn_msg }}(function () {
        $("#popup-overlay").css('display', 'block');
		$("#popup-login").fadeIn()
	});
</script>
<script>
    $(".register-btn").{{ register_btn_msg }}(function () {
		$('.popup').css('display', 'none');
		$("#popup-overlay").css('display', 'block');
		$("#popup-register").fadeIn()
	});
</script>
	<script type="text/javascript">
	// FRONT SLIDER STARTER
jQuery(document).ready(function() {
jQuery('#mycarousel').jcarousel({
auto: 3,
wrap: 'last',
scroll: 1,
animation: 'slow',
initCallback: mycarousel_initCallback,
});
}); 
	</script>
<script type="text/javascript">
    $('.captcha').click(function(){ //点击图片刷新
        var tmp = Math.random().toString();
        $.get("?newsn=1&tmp="+tmp, function(result){
            $('.captcha').attr("src", result);
            $('#id_captcha_0').attr("value", result.split('/')[3]);
        });
        return false;
    });
</script>
</html>