{% extends 'my_users/index.html' %}
{% load user_tags %}
{% load staticfiles %}
{% block register %}
		<h2>注册</h2>
		<hr class="separator">
		<form method="post" action="{% url 'register' %}" class="form clearfix">
        <input type='hidden' name='csrfmiddlewaretoken' value='gTZljXgnpvxn0fKZ1XkWrM1PrCGSjiCZ' />
			<fieldset>
				<label for="login-username">用户名:</label>
				<input type="text" name="username" id="login-username" {% if register_form.errors.username %}class="input text error" onfocus=" if (value =='{% error_msg register_form.errors.username %}'){className='input text';value='';}" value="{% error_msg register_form.errors.username %}" {% else %}class="input text"{% endif %} >
				<label for="login-email">邮箱:</label>
				<input type="text" name="email" id="login-email" {% if register_form.errors.email %}class="input text error"  onfocus=" if (value =='{% error_msg register_form.errors.email %}'){className='input text';value='';}" value="{% error_msg register_form.errors.email %}"{% else %}class="input text"{% endif %}>
				<label for="login-password">密码:</label>
				<input name="password" id="login-password" {% if register_form.errors.password %}class="input text error" onfocus=" if (value =='{% error_msg register_form.errors.password %}'){className='input text';value='';type='password';}" value="{% error_msg register_form.errors.password %}" {% else %}type="password" class="input text" {% endif %}>
				<label for="login-confirm-password">确认密码:</label>
				<input name="confirm_password" id="login-confirm-password" {% if register_form.errors.confirm_password %}class="input text error" onfocus=" if (value =='{% error_msg register_form.errors.confirm_password %}'){className='input text';value='';type='password';}" value="{% error_msg register_form.errors.password %}" {% else %} type="password" class="input text" {% endif %}>
            <div class="marb13 captcha1">
                <label >验证码:</label>
               {{ register_form.captcha }}
            </div>
            <div class="error marb13" >{% if register_form.errors.captcha %}验证码错误。{% endif %}{{ msg }}</div>
			</fieldset>

			<hr class="separator">

{#			<div class="checks">#}
{#				<div class="check-row">#}
{#					<label><input type="checkbox" class="input checkbox">I have read and agree to the <a href="#">Terms &amp; Conditions</a></label>#}
{#				</div>#}
{#				<div class="check-row">#}
{#					<label><input type="checkbox" class="input checkbox">I agree to recieve promotional mails</label>#}
{#				</div>#}
{#			</div>#}

			<button class="button submit">注册</button>
        {% csrf_token %}
		</form>
		<a class="close" href="#"></a>
{% endblock %}
