<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div class="top-nav">
        <nav>
          <ul>
            <li><a href="#" id="login-btn">登录</a></li>
            <li><a href="{% url 'register' %}" class="register-btn">注册</a></li>
            <li><a href="about.html">about</a></li>
            <li><a href="contact.html">contact</a></li>
            <li><a href="{% url 'menu' %}">菜单</a></li>
          </ul>
        </nav>

        <form class="search-form" method="post">
          <input type="text" class="search">
          <input type="submit" class="search-submit" value="">
        </form>

      </div>
</head>
<body>

</body>
</html>