{% load staticfiles %}
<div class="header-slider-canvas">
    <div class="parts part-1"></div>
    <div class="parts part-2"></div>
    <div class="parts part-3"></div>
</div>
{#轮播图#}
<ul id="mycarousel" class="jcarousel-skin-header-slider">
    <li>
        <img src="{% static 'my_users/images/toystory.jpg' %}" width="680px" height="464" alt="" />
        <div class="description">
            <span class='price '>24.00元</span>
            <span class='name '>蔬菜汉堡</span>
            <a href="#" class="shop">加入购物车</a>
        </div>
    </li>
    <li>
        <img src="{% static 'my_users/images/up.jpg' %}" width="680px" height="464" alt="" />
        <div class="description">
            <span class='price '>39.00元</span>
            <span class='name '>果盘</span>
            <a href="#" class="shop">加入购物车</a>
        </div>
    </li>
    <li>
        <img src="{% static 'my_users/images/walle.jpg' %}" width="680px" height="464" alt="" />
        <div class="description">
            <span class='price '>26.00元</span>
            <span class='name '>水果沙拉</span>
            <a href="#" class="shop">加入购物车</a>
        </div>
    </li>
    <li>
        <img src="{% static 'my_users/images/nemo.jpg' %}" width="680px" height="464" alt="" />
        <div class="description">
            <span class='price '>30.00元</span>
            <span class='name '>紫菜包饭</span>
            <a href="#" class="shop">加入购物车</a>
        </div>
    </li>
</ul>