{% extends 'base.html' %}
{% load staticfiles %}
{% block menu_content %}
<div class="content full-content clearfix">

        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Home</a></li>
                <li>Entrees</li>
            </ul>
        </div>

        <div class="product-menu-header">
            <h2>Menu</h2>
        </div>

        <div class="product-menu-holder">
            <div>
                <div class="left-part">
                    <h3>所有菜品</h3>
                    <h4><span class="text">清单</span><span class="line"></span></h4>
                    <ul>
                    {% for dish in all_dishes %}
                        <li>
                            <div class="img-holder"><div class="canvas"></div><img data-url="{{ MEDIA_URL }}{{ dish.image }}" src="{{ MEDIA_URL }}{{ dish.image }}" alt=""></div>
                            <div class="price">
                                <h5><a href="#">{{ dish.name }}</a></h5>
                                <span>{{ dish.price }}元</span>
                            </div>
                            <div class="description">
                                   {{  dish.description }}
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <a href="#" class="prev">prev</a>
            <a href="#" class="next">next</a>
        </div>
    </div>
{% endblock %}