{% extends 'base.html' %}
{% load staticfiles %}
{% block list %}
    <nav class="main-menu">
            <ul>
                {% for type in all_dtypes %}
                <li><a href="?type={{ type.id }}"><span class="{% ifequal type_id type.id|stringformat:'i' %}active2{% endifequal %}">{{ type.name }}</span></a></li>
                {% endfor %}
                <li id="lava-elm"></li>
            </ul>
    </nav>
{% endblock %}
{% block menu_content %}
<script type="text/javascript">
        function message(text){
            if(text=='success'){
                alert("加入购物车成功！");
            }
        }
            message()
</script>
<div class="content full-content clearfix">

        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Home</a></li>
                <li>Entrees</li>
            </ul>
        </div>
        <div class="product-menu-header">
            <h2>Menu</h2>
        </div>

        <div class="product-menu-holder">
            <div>
                <div class="left-part">
                    <h3>菜品</h3>
                    <h4><span class="text">清单</span><span class="line"></span></h4>
                    <ul>
                    {% for dish in all_dishes.object_list %}
                        <li>
                            <div class="img-holder"><div class="canvas"></div><img data-url="{{ MEDIA_URL }}{{ dish.image }}" src="{{ MEDIA_URL }}{{ dish.image }}" alt=""></div>
                            <div class="price">
                                <h5><a href="#">{{ dish.name }}</a></h5>
                                <span>{{ dish.price }}元</span>
                            </div>
                            <div class="description">
                                   {{  dish.description }}
                            </div>
                            <div>
                               <a href="/?cart_add={{ dish.id }}" class="right_part" onclick="message('success')">加入购物车</a>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="all">共<span class="key">{{ dish_nums }}</span>个</div>
            <div class="pagination">
                {% if all_dishes.has_previous %}
                    <a href="?{{ all_dishes.previous_page_number.querystring }}" class="prev">上一页</a>
                {% endif %}
                {% for page in all_dishes.pages %}
                    {% if page %}
                        {% ifequal page all_dishes.number %}
                            <span class="current page">{{ page }}</span>
                        {% else %}
                            <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                        {% endifequal %}
                    {% endif %}
                {% endfor %}
                {% if all_dishes.has_next %}
                    <a href="?{{ all_dishes.next_page_number.querystring }}" class="next">下一页</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}