{% extends 'base.html' %}
{% load staticfiles %}
{% load user_tags %}

{% block page_type %}home{% endblock %}

<div class='wrapper '>

{% block top_type %}home{% endblock %}
{% block home_header %}
    {% include 'my_users/home_header.html' %}
{% endblock %}

{% block home_content %}
    {% include 'my_users/home_content.html' %}
{% endblock %}
{% block list %}
    <nav class="main-menu">
            <ul>
                <li><a href="listing.html">荤菜类</a></li>
                <li><a href="listing.html">海鲜类</a></li>
                <li><a href="listing.html">蔬菜类</a></li>
                <li><a href="listing.html">面食</a></li>
                <li><a href="listing.html">汤菜</a></li>
                <li><a href="listing.html">水果类</a></li>
                <li id="lava-elm"></li>
            </ul>
    </nav>
    {% endblock %}
</div>

