{% extends 'base.html' %}
{% load staticfiles %}
{% load user_tags %}

{% block page_type %}home{% endblock %}

<div class='wrapper '>

{% block top_type %}home{% endblock %}
{% block home_header %}
    {% include 'my_users/home_header.html' %}
{% endblock %}
{% block home_content %}
    <script type="text/javascript">
        function message(text){
            if(text=='success'){
                alert("加入购物车成功！");
            }
        }
            message()
    </script>
    <div class="content clearfix">
        {#今日肉类#}
        <div id="meals-of-the-day">
            <h3 class="title-separator"><span class="title">今日肉类</span><span class="sep"></span></h3>
            <ul>
                {% for rdish in all_rdishes%}
                <li class="meal">
                    <div class="img-holder"><img data-url="{{ MEDIA_URL }}{{ rdish.image }}" src="{{ MEDIA_URL }}{{ rdish.image }}" alt=""></div>
                    <div class="desc-holder">
                        <h1><a href="#">{{ rdish.name }}</a></h1>
                        <p>{{ rdish.description }}</p>
                        <span class="price">{{ rdish.price }}元</span>
                        <a href="?cart_add={{ rdish.id }}" class="add-to-cart-button" onclick="message('success')">加入购物车</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <h3 class="title-separator"><span class="title">特色菜</span><span class="sep"></span></h3>
        {#特色菜#}
        <div id="featured-meals">
            <ul>
                {% for special in all_special %}
                <li class="meal">
                    <div class="img-holder"><img data-url="{{ MEDIA_URL }}{{ special.image }}" src="{{ MEDIA_URL }}{{ special.image }}" alt=""></div>
                    <h1><a href="#">{{ special.name }}</a></h1>
                    <p>{{ special.description }}</p>
                    <span class="price">{{ dish.price }}元</span>
                    <a href="?cart_add={{ special.id }}" class="add-to-cart-button" onclick="message('success')">加入购物车</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        {#购物车#}
        <div class="cart-box">
            <div class="top">购物车</div>
            <div class="body">
                <ul>
                    <li class="info">
                        <span class="products"><strong>{{　pro_num }}</strong> 菜品</span>
                        <a href="/cart/view_cart/">查看购物车</a>
                    </li>
                    <li class="price">
                        <span class="label">运费</span>
                        <span class="value">{{ pro_ship }}元</span>
                    </li>
                    <li class="price">
                        <span class="label">总计</span>
                        <span class="value">{{ pro_total }}元</span>
                    </li>
                </ul>
                <a class="submit-button" href="cart/checkout/">结算</a>
                <div class="graphic"></div>
            </div>
        </div>

    </div>
{% endblock %}
</div>
